@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 163 30% 100%;
    --foreground: 163 55% 1%;
    --muted: 163 34% 94%;
    --muted-foreground: 163 12% 38%;
    --popover: 163 30% 100%;
    --popover-foreground: 163 55% 1%;
    --card: 163 30% 100%;
    --card-foreground: 163 55% 1%;
    --border: 163 2% 94%;
    --input: 163 2% 94%;
    --primary: 163 38% 62%;
    --primary-foreground: 163 38% 2%;
    --secondary: 163 10% 89%;
    --secondary-foreground: 163 10% 29%;
    --accent: 163 19% 84%;
    --accent-foreground: 163 19% 24%;
    --destructive: 14 92% 33%;
    --destructive-foreground: 14 92% 93%;
    --ring: 163 38% 62%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 163 57% 0%;
    --foreground: 163 23% 97%;
    --muted: 163 34% 6%;
    --muted-foreground: 163 12% 62%;
    --popover: 163 57% 0%;
    --popover-foreground: 163 23% 97%;
    --card: 163 57% 0%;
    --card-foreground: 163 23% 97%;
    --border: 163 2% 12%;
    --input: 163 2% 12%;
    --primary: 163 38% 62%;
    --primary-foreground: 163 38% 2%;
    --secondary: 163 11% 16%;
    --secondary-foreground: 163 11% 76%;
    --accent: 163 19% 26%;
    --accent-foreground: 163 19% 86%;
    --destructive: 14 92% 49%;
    --destructive-foreground: 0 0% 100%;
    --ring: 163 38% 62%;
  }
}
